<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="assets/css/normalize.css" />
    <link rel="stylesheet" href="assets/css/login.css" />
  </head>
  <body>
    <section>
      
      <div>
        <h3 class="eat">Eat<span class="well">Well</span></h3>
        <h4>Let us know how <br>
          we can help you</h4>
        
      </div>
      <form action="#">
        <div class="help_buttons">
          <input type="text" placeholder="Weight Loss">
          <input type="text" placeholder="Better Sleeping Habit">
          <input type="text" placeholder="Track My Nutrition">
          <input type="text" placeholder="Improve Overall Fitness">
        </div>
        <div class="buttons">
          <button class="login" type="submit">GET STARTED</button>
          
        </div>
        
      </form>
    </section>
  </body>
</html>
